<div class="opcao-noticia">
    <img src="../../img/cr7.jfif" alt="" class="opcao-noticia-img">
    <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
</div>
<div class="opcao-noticia">
    <img src="../../img/lionel-messi-barcelona.jpg" alt="" class="opcao-noticia-img">
    <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
</div>
<div class="opcao-noticia">
    <img src="../../img/neymar-mbape-1.jpg" alt="" class="opcao-noticia-img">
    <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
</div>
<div class="opcao-noticia">
    <img src="../../img/cr7.jfif" alt="" class="opcao-noticia-img">
    <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
</div>
<div class="opcao-noticia">
    <img src="../../img/lionel-messi-barcelona.jpg" alt="" class="opcao-noticia-img">
    <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
</div>
<div class="opcao-noticia">
    <img src="../../img/neymar-mbape-1.jpg" alt="" class="opcao-noticia-img">
    <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
</div>