#navbar{
    height: 57px;
    width: 100%;
    background-color: brown;
}

#navbar2{
    height: 57px;
    width: 100%;
    background-color: cadetblue;
}

body{
    background-color: rgb(235, 231, 231);
}

#container{
    background-color: white;
    width: 900px;
    height: 600px;
    margin-top: 130px;
    margin-left: 50px;
}

#opcoes{
    height: 100%;
    width: 30%;
    background-color: rgb(196, 192, 192);
    float: left;
}

.opcao{
    height: 120px;
    width: 100%;
}

.noticia{
    width: 450px;
    height: 300px;
    margin-right: 100px;
    margin-top: 100px;
    float: right;
}

.opcao p{
    margin-left: 15px;
    position: absolute;
    margin-top: 15px;
}

#titulo{
    font-size: 40px;
}