<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <nav id="navbar" >
            <label id="portal" >Portal</label>
            <ul class="navbar-itens" >
                <li>Futebol</li>
                <li>NFL</li>
                <li>NBA</li>
                <li>MMA</li>
                <li>eSports</li>
            </ul>
            <img src="../../../img/138-1387803_pwp-member-login-icon-login-icon-png.png" id="login" alt="">
            <img src="../../../img/search.png" id="search" alt="">
        </nav>
        <nav id="navbar2" >
            <label id="categoria">Futebol</label>
            <ul class="navbar2-itens" >
                <li>Notícias</li>
                <li>Times</li>
                <li>Campeonatos</li>
                <li>Resultados</li>
                <li>Calendário</li>
                <li>Classificação</li>
            </ul>
        </nav>
    </header>
    <main id="noticias">
        <div id="container">
            <!-- estrutura dinamica -->
            <div class="opcao-noticia">
                <img src="../../img/cr7.jfif" alt="" class="opcao-noticia-img">
                <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="opcao-noticia">
                <img src="../../img/lionel-messi-barcelona.jpg" alt="" class="opcao-noticia-img">
                <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="opcao-noticia">
                <img src="../../img/neymar-mbape-1.jpg" alt="" class="opcao-noticia-img">
                <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="opcao-noticia">
                <img src="../../img/cr7.jfif" alt="" class="opcao-noticia-img">
                <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="opcao-noticia">
                <img src="../../img/lionel-messi-barcelona.jpg" alt="" class="opcao-noticia-img">
                <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="opcao-noticia">
                <img src="../../img/neymar-mbape-1.jpg" alt="" class="opcao-noticia-img">
                <p class="opcao-noticia-texto" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
        </div>
    </main>
</body>
</html>